@import "../../styles/styles.scss";

.cardNav {
  height: 165px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  justify-content: space-between;

  background: #ffffff;

  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);

  @media (min-width: 321px) {
    height: 195px;
  }
}

.links {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 10.5px;
  width: 100%;
}

.reg {
  margin-left: 55px;
}
