@import '../../styles/styles.scss';

.cardNav {
  align-items: center;
  background: $white;
  box-shadow: $lower-shadow;

  @include flex-column;

  &.simple {
    justify-content: center;
  }
}

.links {
  position: relative;
  margin-top: 19px;
  margin-bottom: 11.5px;
  display: flex;
  width: 100%;
  justify-content: center;

  @media (max-width: $table-width) {
    margin-top: 55px;
  }
}

.reg {
  margin-left: 55px;
}

.logotype {
  margin-bottom: 35px;
}
