@import "../../styles/styles.scss";

.cardNav {
  @include flex-column;

  align-items: center;

  background: $white;

  box-shadow: $lower-shadow;

  &.simple {
    justify-content: center;
  }
}

.links {
  display: flex;
  justify-content: center;

  position: relative;

  margin-bottom: 11.5px;
  margin-top: 19px;
  width: 100%;

  @media (max-width: $table-width) {
    margin-top: 55px;
  }
}

.reg {
  margin-left: 55px;
}

.logotype {
  margin-bottom: 35px;
}
