@import '../../styles/styles.scss';

.inputWrap {
  position: relative;
}

.items {
  width: 100%;

  @include flex-column;
}

.input {
  padding: 10px 34px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-size: rem(14);
  line-height: rem(20);
  color: $text-color-primary;
  background: $input-background;
  border: $border-secondary;
  border-radius: $input-border-radius;
  outline: none;

  @media (max-width: $table-width) {
    padding-left: 5px;
    background: $input-background-primary;
    background-color: transparent;

    @include only-bottom-border;
  }

  &::placeholder {
    font-size: rem(14);
    line-height: rem(20);
    color: #aaa;

    @media (max-width: $table-width) {
      color: $white;
    }
  }

  &:focus {
    border: $border-primary;

    @media (max-width: $table-width) {
      padding-left: 5px;
      background: $input-background-primary;
      background-color: $white;

      @include only-bottom-border;
    }
  }

  &.primary {
    border-radius: $top-border-radius;
  }

  &.secondary {
    border-radius: $bottom-border-radius;

    @media (max-width: $table-width) {
      border-radius: 0;
    }
  }
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: -10px;
}

.inputIcon {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;

  @media (max-width: $table-width) {
    display: none;
  }
}

.error {
  margin-top: 7px;
  font-size: rem(13);
  line-height: rem(16);
  font-weight: normal;
  font-style: normal;
  letter-spacing: -.078px;
  color: $error-color;

  @media (min-width: 835px) {
    display: none;
  }
}

.label {
  display: none;

  @media (max-width: $table-width) {
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    font-size: rem(12);
    line-height: rem(14);
    font-weight: normal;
    font-style: normal;
    color: $input-label-color;
    transition: top .5s;
  }
}

.form {
  position: relative;
}

.inputRed {
  border-color: $input-background-primary;

  @media (max-width: $table-width) {
    border-color: $error-color;
  }
}

.inputFormErrors {
  border-color: $error-color;
}
