@import '../../styles/styles.scss';

.successCard {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100%;

  @media (max-width: $table-width) {
    position: unset;
  }
}

.wrapper {
  margin: auto;
  padding: 60px 30px 30px 30px;
  width: 360px;
  background: $white;
  border-radius: 12px;
  box-shadow: $card-shadow;

  @media (max-width: $table-width) {
    padding: 135px 45px 50px 45px;
    width: 100%;
    box-shadow: unset;
  }

  @media (max-width: $sm-phone-width) {
    padding: 50px 15px 50px 15px;
  }
}

.items {
  align-items: center;

  @include flex-column;
}

.title {
  margin-bottom: 55px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.32px;
  color: $text-color-primary;

  @media (max-width: $table-width) {
    margin-bottom: 430px;
  }

  @media (max-width: $phone-width) {
    margin-bottom: 270px;
  }

  @media (max-width: $sm-phone-width) {
    margin-bottom: 150px;
  }
}

.icon {
  margin-top: 55px;

  @media (max-width: $table-width) {
    margin-top: 264px;
  }

  @media (max-width: $phone-width) {
    margin-top: 200px;
  }

  @media (max-width: $sm-phone-width) {
    margin-top: 100px;
  }
}

.spinner {
  margin: auto;
}
