@import '../../styles/styles.scss';

.button {
  padding: 10px 20px;
  width: 100%;
  height: 40px;
  font-size: rem(15);
  line-height: rem(20);
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.005em;
  color: $white;
  background: $primary;
  border: unset;
  border-radius: $button-border-radius;

  &:hover {
    background-color: $primary-hover;
  }

  &:active {
    background-color: $primary-active;
  }

  &.secondary {
    color: $secondary-color;
    background: $secondary-background;
    border-radius: $button-border-radius;

    &:hover {
      background: $secondary-hover;
    }

    &:active {
      background-color: $secondary-active;
    }
  }

  &.dim {
    color: $dim;
    background: unset;
    border-radius: $button-border-radius;

    @media (max-width: $table-width) {
      font-size: rem(12);
      line-height: rem(14);
      text-align: right;
      color: $dim-table-width;
    }

    &:hover {
      background: $dim-hover;
    }

    &:active {
      background: $dim-active;
    }
  }
}
