.cardAuth {
  width: 300px;
}

.cardFooter {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.inputs {
  margin-bottom: 26px;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
