$primary: #2b96f1;
$secondary: rgba(0, 0, 0, 0.07);
// media size
$desktop-width: 1440px;
$md-desktop-width: 1160px;
$sm-desktop-width: 980px;
$table-width: 834px;
$phone-width: 480px;
$sm-phone-width: 320px;
