@import '../../styles/styles.scss';

.alert {
  padding: 15px;
  width: 300px;
  align-items: flex-start;
  font-size: rem(14);
  line-height: rem(20);
  color: $error-color;
  background: $error-background;
  border-radius: 10px;

  @include flex-column;
}

.items {
  display: flex;
}

.icon {
  margin-right: 10px;
}
