@import "../../styles/styles.scss";

.alert {
  @include flex-column;
  
  align-items: flex-start;

  color: $error-color;

  padding: 15px;
  width: 300px;

  background: $error-background;
  border-radius: 10px;

  font-size: 14px;
  line-height: 20px;
}
.items {
  display: flex;
}

.icon {
  margin-right: 10px;
}
