@import "../../styles/styles.scss";

.alert {
  @include flex-column;

  padding: 15px;
  width: 300px;
  align-items: flex-start;
  font-size: 14px;
  line-height: 20px;
  color: $error-color;
  background: $error-background;
  border-radius: 10px;
}

.items {
  display: flex;
}

.icon {
  margin-right: 10px;
}
