.link {
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #828282;

  text-decoration: none;

  &.isActive {
    color: #191919;
  }
}

.activeLine {
  position: absolute;

  top: 29px;
  width: 36px;
  height: 3px;

  background: #198cff;
  border-radius: 10px;
}
