.link {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #828282;

  text-decoration: none;

  &.isActive {
    color: #191919;
  }
}
